.FieldGroup {
  max-width: 100%;
  border-bottom: 1px solid var(--puck-color-grey-09);
}

.FieldGroup-content {
  display: none;
}

.FieldGroup--isExpanded > .FieldGroup-content {
  display: block;
}

.FieldGroup-title {
  background-color: transparent;
  border: 0;
  color: black;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-family: var(--puck-font-family);
  font-size: var(--puck-font-size-xxs);
  font-weight: 600;
  list-style: none;
  padding: 12px 16px;
  transition: background-color 50ms ease-in, color 50ms ease-in;
  gap: 4px;
  width: 100%;
}

.FieldGroup-title:focus-visible {
  outline: 2px solid var(--puck-color-azure-05);
  outline-offset: 2px;
}

@media (hover: hover) and (pointer: fine) {
  .FieldGroup-title:hover {
    background-color: var(--puck-color-azure-11);
    color: var(--puck-color-azure-04);
    transition: none;
  }
}

.FieldGroup-title:active {
  background-color: var(--puck-color-azure-10);
  transition: none;
}

.FieldGroup-titleIcon {
  margin-inline-start: auto;
}
