.InputWrapper + .InputWrapper {
  margin-top: 12px;
}

.Input-label {
  align-items: center;
  color: var(--puck-color-grey-05);
  display: flex;
  padding-bottom: 12px;
  font-size: var(--puck-font-size-xxs);
  font-weight: 600;
}

.Input-labelIcon {
  color: var(--puck-color-grey-07);
  display: flex;
  margin-inline-end: 4px;
}

.Input-disabledIcon {
  color: var(--puck-color-grey-05);
  margin-inline-start: auto;
}

.Input-input {
  background: var(--puck-color-white);
  border-width: 1px;
  border-style: solid;
  border-color: var(--puck-color-grey-09);
  border-radius: 4px;
  box-sizing: border-box;
  font-family: inherit;
  font-size: 16px;
  padding: 12px 15px;
  transition: border-color 50ms ease-in;
  width: 100%;
  max-width: 100%;
}

@media (min-width: 458px) {
  .Input-input {
    font-size: 14px;
  }
}

select.Input-input {
  appearance: none; /* Safari */
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='%23c3c3c3'><polygon points='0,0 100,0 50,50'/></svg>")
    no-repeat;
  background-size: 12px;
  background-position: calc(100% - 12px) calc(50% + 3px);
  background-repeat: no-repeat;
  background-color: var(--puck-color-white);
  cursor: pointer;
}

select.Input-input:dir(rtl) {
  background-position: 12px calc(50% + 3px);
}

@media (hover: hover) and (pointer: fine) {
  .Input:has(> input):hover .Input-input:not([readonly]),
  .Input:has(> textarea):hover .Input-input:not([readonly]) {
    border-color: var(--puck-color-grey-05);
    transition: none;
  }
  .Input:has(> select):hover .Input-input:not([disabled]) {
    background-color: var(--puck-color-azure-12);
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='%235a5a5a'><polygon points='0,0 100,0 50,50'/></svg>");
    border-color: var(--puck-color-grey-05);
    transition: none;
  }
}

.Input-input:focus {
  border-color: var(--puck-color-grey-05);
  outline: 2px solid var(--puck-color-azure-05);
  transition: none;
}

.Input--readOnly > .Input-input,
.Input--readOnly > select.Input-input {
  background-color: var(--puck-color-grey-11);
  border-color: var(--puck-color-grey-09);
  color: var(--puck-color-grey-04);
  cursor: default;
  opacity: 1;
  outline: 0;
  transition: none;
}

.Input-radioGroupItems {
  display: flex;
  border: 1px solid var(--puck-color-grey-09);
  border-radius: 4px;
  flex-wrap: wrap;
}

.Input-radio {
  border-inline-end: 1px solid var(--puck-color-grey-09);
  flex-grow: 1;
}

.Input-radio:first-of-type {
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
}

.Input-radio:first-of-type .Input-radioInner {
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
}

.Input-radio:last-of-type {
  border-bottom-right-radius: 4px;
  border-inline-end: 0;
  border-top-right-radius: 4px;
}

.Input-radio:last-of-type .Input-radioInner {
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
}

.Input-radioInner {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--puck-color-white);
  color: var(--puck-color-grey-04);
  cursor: pointer;
  font-size: var(--puck-font-size-xxxs);
  padding: 8px;
  text-align: center;
  transition: background-color 50ms ease-in;
}

.Input-radio:has(:focus-visible) {
  outline: 2px solid var(--puck-color-azure-05);
  outline-offset: 2px;
  position: relative;
}

@media (hover: hover) and (pointer: fine) {
  .Input-radioInner:hover {
    background-color: var(--puck-color-azure-12);
    transition: none;
  }
}

.Input--readOnly .Input-radioInner {
  background-color: var(--puck-color-white);
  color: var(--puck-color-grey-04);
  cursor: default;
}

.Input-radio .Input-radioInput:checked ~ .Input-radioInner {
  background-color: var(--puck-color-azure-11);
  color: var(--puck-color-azure-04);
  font-weight: 500;
}

.Input--readOnly .Input-radioInput:checked ~ .Input-radioInner {
  background-color: var(--puck-color-grey-11);
  color: var(--puck-color-grey-04);
}

.Input-radio .Input-radioInput {
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/* Checkbox styles */
.Input-checkboxGroupItems {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.Input-checkboxGroupItems--horizontal {
  flex-direction: row;
  flex-wrap: wrap;
}

.Input-checkboxGroupItems--inline {
  flex-direction: column;
  gap: 8px;
}

.Input-checkbox {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.Input-checkboxGroupItems--inline .Input-checkbox {
  gap: 8px;
  align-items: flex-end;
}

.Input-checkbox:has(:focus-visible) {
  outline: 2px solid var(--puck-color-azure-05);
  outline-offset: 2px;
}

.Input-checkboxInner {
  border: 1px solid var(--puck-color-grey-09);
  border-radius: 4px;
  display: flex;
  align-items: center;
  background-color: var(--puck-color-white);
  color: var(--puck-color-grey-04);
  cursor: pointer;
  font-size: var(--puck-font-size-xxxs);
  padding: 8px;
  flex: 1;
  transition: background-color 50ms ease-in;
}

.Input-checkboxGroupItems--inline .Input-checkboxInner {
  border: none;
  border-radius: 0;
  padding: 0;
}

@media (hover: hover) and (pointer: fine) {
  .Input-checkboxGroupItems:not(.Input-checkboxGroupItems--inline)
    .Input-checkboxInner:hover {
    background-color: var(--puck-color-azure-12);
    transition: none;
  }
}

.Input--readOnly .Input-checkboxInner {
  background-color: var(--puck-color-white);
  color: var(--puck-color-grey-04);
  cursor: default;
}

.Input-checkboxInput {
  width: 20px;
  height: 20px;
  appearance: none;
  background-color: var(--color-white);
  vertical-align: middle;
  color: var(--puck-color-azure-04);
  border-radius: 0.25rem;
  border: 1px solid var(--puck-color-grey-09);
  box-shadow: none;
}

.Input-checkboxInput:checked {
  background-color: var(--puck-color-azure-11);
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 16 16' fill='%230158AD' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.207 4.793a1 1 0 0 1 0 1.414l-5 5a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L6.5 9.086l4.293-4.293a1 1 0 0 1 1.414 0z'/%3E%3C/svg%3E");
}

.Input-checkbox .Input-checkboxInput:checked ~ .Input-checkboxInner {
  background-color: var(--puck-color-azure-11);
  color: var(--puck-color-azure-04);
  font-weight: 500;
}

.Input-checkboxGroupItems--inline
  .Input-checkbox
  .Input-checkboxInput:checked
  ~ .Input-checkboxInner {
  background-color: transparent;
  color: var(--puck-color-grey-04);
  font-weight: normal;
}

.Input--readOnly .Input-checkboxInput:checked ~ .Input-checkboxInner {
  background-color: var(--puck-color-grey-11);
  color: var(--puck-color-grey-04);
}

.Input--readOnly .Input-checkboxInput:checked {
  background-color: var(--puck-color-azure-11);
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 16 16' fill='%235A5A5A' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.207 4.793a1 1 0 0 1 0 1.414l-5 5a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L6.5 9.086l4.293-4.293a1 1 0 0 1 1.414 0z'/%3E%3C/svg%3E");
}

.Input-checkbox .Input-checkboxInput {
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.Input-checkboxGroupItems--inline .Input-checkbox .Input-checkboxInput {
  position: static;
  clip: auto;
  clip-path: none;
  width: 20px;
  height: 20px;
  margin: 0;
}

textarea.Input-input {
  margin-bottom: -4px; /* Remove strange bottom border */
}
